<!DOCTYPE html>
<html>

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <style>
        body {
            font-size: 18px;
            background-color: #e9eaea;
            font-family: monospace;
        }

        img {
            max-width: 100%;
        }
        a:visited {
            color: black;
        }
    </style>
</head>

<body>
    <a href="/post">/All Posts</a>
    <br>
    <a href="/create">/Create Posts</a>
    <br>
    <p>Post Details</p>
    <div class="image">
        <img src="{{.Image}}">
    </div>
    <p>Title: {{.Title}}</p>
    <p>Alias: {{.Alias}} </p>
    <p>Published: {{.Published}}</p>
    <p>Created_at: {{.Created_at}}</p>
    <p>Category:</p>
    <p>Author:</p>
    <p>Intro_text: {{.Intro_text}}</p>
    <p>Full_text: {{.Full_text}}</p>
    <a href="/post/modified/{{.Id}}">Edit</a>
    <br>
    <a href="/post">Delete</a>


</body>

</html>