<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      font-size: 18px;
      font-family: monospace;
    }

    a:visited, a:link {
      color: black;
    }

    #myInput,
    #myInput1,
    #myInput2,
    #myInput3,
    #myInput4 {
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }

    #myTable {
      border: 2px solid #3333339c;
      border-collapse: collapse;
      width: 100%;
      font-size: 18px;
    }

    #myTable th,
    #myTable td {
      text-align: left;
      padding: 12px;
    }

    #myTable tr {
      border-bottom: 1px solid #ddd;
    }

    #myTable tr.header,
    #myTable tr:hover {
      background-color: #f1f1f1;
    }
  </style>
</head>

<body>
  <a href="/preview">/Preview</a>
  <br>
  <a href="/post">/All Posts</a>
  <br>
  <a href="/create">/Create Posts</a>
  <br>
  <br>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Title" style="width:20%;">
  <input type="text" id="myInput1" onkeyup="myFunction1()" placeholder="Alias" style="width:20%;">
  <input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Alias" style="width:20%;">
  <input type="text" id="myInput3" onkeyup="myFunction3()" placeholder="Created_at" style="width:18%;">
  <input type="text" id="myInput4" onkeyup="myFunction4()" placeholder="Published" style="width:18%;">

  <table id="myTable">
    <tr class="header">
      <th style="width:20%;">Title</th>
      <th style="width:20%;">Alias</th>
      <th style="width:20%;">Created_by</th>
      <th style="width:20%;">Created_at</th>
      <th style="width:20%;">Published</th>
    </tr>
    {{range .}}
    <tr>
      <td>
        <a href="/post/{{.Id}}" style="text-decoration:none">{{.Title}}</a>
      </td>
      <td>
        <a href="/post/{{.Id}}" style="text-decoration:none">{{.Alias}}</a>
      </td>
      <td>
        <a href="/post/{{.Id}}" style="text-decoration:none">{{.Created_by}}</a>
      </td>
      <td>
        <a href="/post/{{.Id}}" style="text-decoration:none">{{.Created_at}}</a>
      </td>
      <td>
        <a href="/post/{{.Id}}" style="text-decoration:none">{{.Published}}</a>
      </td>
    </tr>
    {{end}}
  </table>

  <script>
    function myFunction() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    function myFunction1() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput1");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    function myFunction2() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput2");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    function myFunction3() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput3");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[3];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    function myFunction4() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput4");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[4];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>

</body>

</html>