<!DOCTYPE html>
<html>

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <style>
        body {
            font-size: 48px;
            background-color: #e9eaea;
            font-family: monospace;
        }

        a:visited, a:link {
            color: black;
        }
    </style>
</head>

<body>
    <div style="margin: 0 0 100px 0; float: left">
        <a href="/post">/All Posts</a>
        <br>
        <a href="/create">/Create Posts</a>
        <br>
    </div>
    <div style="margin: 0 0px 0 500px; float:right">
        <a href="/api">/Api</a>
        <br>
    </div>
    
</body>

</html>